@import url('https://fonts.googleapis.com/css?family=Squada+One');


body {
  background: url(../images/sidewalk.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:100%;

}

h1 {
  position:relative;
  display: block;
  margin: 0px auto;
  width:80%;
  padding-top:10%;
  font-family: Squada One;
  font-size: 7em;
  font-weight:bolder;
  text-shadow: 1px 1px 0 #DE0B2D,
    -2px 2px 0 #DE0B2D,
    -3px 4px 0 #DE0B2D,
    -4px 5px 0 #DE0B2D,
    -5px 7px 0 #DE0B2D,
    -6px 8px 0 #DE0B2D,
    -7px 10px 0 #DE0B2D,
    -8px 11px 0 #DE0B2D,
    -9px 13px 0 #DE0B2D,
    -10px 14px 0 #DE0B2D,
    -11px 16px 0 #DE0B2D,
    -12px 17px 0 #DE0B2D,
    -13px 19px 0 #DE0B2D,
    -14px 20px 0 #DE0B2D,
    -15px 22px 0 #DE0B2D,
    -16px 23px 0 #DE0B2D,
    -17px 25px 0 #DE0B2D,
    -18px 26px 0 #DE0B2D,
    -19px 28px 0 #DE0B2D,
    -20px 29px 0 #DE0B2D,
    -21px 30px 0 #FF551E,
    -23px 31px 0 #FF551E,
    -24px 32px 0 #FF551E,
    -26px 33px 0 #FF551E,
    -27px 34px 0 #FF551E,
    -29px 35px 0 #FF551E,
    -30px 36px 0 #FF551E,
    -32px 37px 0 #FF551E,
    -33px 38px 0 #FF551E,
    -35px 39px 0 #FF551E,
    -36px 40px 0 #FF551E,
    -38px 41px 0 #FF551E,
    -39px 42px 0 #FF551E,
    -41px 43px 0 #FF551E,
    -42px 44px 0 #FF551E,
    -44px 45px 0 #FF551E,
    -45px 46px 0 #FF551E,
    -47px 47px 0 #FF551E,
    -48px 49px 0 #FF9012,
    -49px 51px 0 #FF9012,
    -50px 53px 0 #FF9012,
    -51px 55px 0 #FF9012,
    -52px 57px 0 #FF9012,
    -53px 59px 0 #FF9012,
    -54px 61px 0 #FF9012,
    -55px 63px 0 #FF9012,
    -56px 65px 0 #FF9012,
    -57px 67px 0 #FF9012,
    -58px 69px 0 #FF9012,
    -59px 71px 0 #FF9012,
    -60px 73px 0 #FF9012,
    -61px 75px 0 #FF9012,
    -62px 77px 0 #FF9012,
    -63px 79px 0 #FF9012,
    -65px 80px 0 #DE0B2D,
    -68px 81px 0 #DE0B2D,
    -70px 82px 0 #DE0B2D,
    -72px 83px 0 #DE0B2D,
    -74px 84px 0 #DE0B2D,
    -76px 85px 0 #DE0B2D,
    -78px 86px 0 #DE0B2D,
    -80px 87px 0 #DE0B2D,
    -82px 88px 0 #DE0B2D,
    -84px 89px 0 #DE0B2D,
    -86px 90px 0 #DE0B2D,
    -88px 91px 0 #DE0B2D,
    -90px 92px 0 #DE0B2D;
}

#snapcap {
  display:block;
  max-width: 47%;
  max-height: 47%;
  margin:0px auto;
  margin-top:35%;
  margin-left: 10%;
  overflow:hidden;
}

#snapcap img {
  max-width:100%;
}

#capfact {
  position:relative;
  width: 52%;
  margin: 0px auto;
  top:-275px;
  font-family:Squada One;
  font-size:1.5em;
  color: rgb(87,70,45);
  text-align: center;
}

#newFactBtn {
  background-color: rgb(87,70,45);
  color:white;
  border-radius:12px;
  width:35%;
  font-size:2.5em;
  font-family:Squada One;
  font-weight: lighter;
  position:fixed;
  padding: 3% 2%;
  margin-left: 60%;
  margin-top: -50%;
  border:none;
}
